/* ===============================
   Reset
================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Vazirmatn", sans-serif;
}


/* ===============================
   صفحه اصلی
================================ */

html,
body {

    width: 100%;
    min-height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
    overflow-y: hidden;

}
html{
    scroll-behavior:smooth;
    scroll-snap-type:y proximity;
}
section{
    scroll-snap-align:start;
}

/* ===============================
   صفحه اول | آسمان ستاره‌ای
================================ */

.story {

    position: relative;

    width: 100%;
    height: 100vh;

    min-height: 100vh;

    overflow: hidden;

    background: #000;

    z-index: 1;

}



.story::after {

    content: "";

    position: absolute;

    bottom: -20px;
    left: 0;

    width: 100%;
    height: 220px;


    background:
        radial-gradient(ellipse at center,

            rgba(0, 0, 0, .95) 0%,

            rgba(0, 0, 0, .75) 35%,

            rgba(0, 0, 0, .35) 60%,

            transparent 85%);


    filter: blur(20px);

    z-index: 3;

    pointer-events: none;

}



/* ===============================
   Canvas
================================ */


#stars {

    position: absolute;

    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 1;

    pointer-events: none;

}



#textCanvas {

    display: none;

}



/* ===============================
   پیام ورود
================================ */


#touchMessage {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    color: rgba(255, 255, 255, .9);
    font-size: 18px;
    letter-spacing: 1px;
    white-space: nowrap;

    pointer-events: none;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    transition:
        opacity .8s ease,
        transform .8s ease;
}

.touch-text {
    display: block;
}

.touch-hand {
    font-size: 27px;
    color: rgba(255, 255, 255, .9);

    animation: touchHandMove 1.5s ease-in-out infinite;
}

@keyframes touchHandMove {
    0% {
        transform: translate(-18px, 8px) rotate(-8deg);
    }

    25% {
        transform: translate(0, -2px) rotate(0deg);
    }

    50% {
        transform: translate(18px, 8px) rotate(8deg);
    }

    75% {
        transform: translate(0, 18px) rotate(0deg);
    }

    100% {
        transform: translate(-18px, 8px) rotate(-8deg);
    }
}



/* ===============================
   فلش
================================ */


#scrollHint {

    position: absolute;


    left: 50%;

    top: calc(50% + 105px);


    transform: translateX(-50%);


    z-index: 20;


    opacity: 0;


    pointer-events: none;


    width: 50px;

    height: 50px;


    display: flex;

    align-items: center;

    justify-content: center;


}



#scrollHint span {


    font-size: 30px;


    color: rgba(255, 215, 130, .95);


    text-shadow:

        0 0 8px rgba(255, 190, 80, .8),

        0 0 20px rgba(255, 180, 60, .5);


    animation:

        scrollArrow 1.8s ease-in-out infinite;


}



@keyframes scrollArrow {


    0% {

        transform: translateY(0);

        opacity: .5;

    }


    50% {

        transform: translateY(8px);

        opacity: 1;

    }


    100% {

        transform: translateY(0);

        opacity: .5;

    }

}

/* ===============================
   نور طلایی زیر اسم
================================ */

#goldenLight {

    position: absolute;

    left: 50%;

    top: calc(50% + 75px);


    width: 0;

    height: 2px;


    transform: translateX(-50%);


    z-index: 15;


    background:

        linear-gradient(90deg,

            transparent,

            rgba(255, 210, 120, .9),

            rgba(255, 235, 180, 1),

            rgba(255, 210, 120, .9),

            transparent);


    box-shadow:

        0 0 8px rgba(255, 200, 100, .9),

        0 0 22px rgba(255, 180, 70, .65);


    opacity: 0;

    transition: .8s ease;

}



#goldenLight.show {

    width: min(420px, 70vw);

    opacity: 1;

}



/* ===============================
   صفحه دعوت نامه
================================ */


.invitation {

    position: relative;

    width: 100%;

    min-height: 100vh;


    padding-top: 100px;


    color: #2e231a;


    z-index: 5;


    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-image:
        url("../img/photo_2026-08-19_15-47-32.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.p-names-text {
    font-size: 30px;

    font-weight: 400;
}

.transition-glow {

    position: absolute;

    top: -50px;

    left: 50%;


    transform: translateX(-50%);


    width: 180%;

    height: 160px;


    background:

        radial-gradient(ellipse at center top,

            #000 0%,

            rgba(0, 0, 0, .75) 45%,

            transparent 100%);


    filter: blur(25px);

    z-index: 3;

}





/* ===============================
   باکس‌های دعوت
================================ */


.wave-box {

    position: relative;

    width: min(90%, 760px);

    min-height: 390px;

    margin: 50px auto;

    background: rgba(255, 249, 240, 0.18);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.35);

    border-radius: 30px;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    text-align: center;

    overflow: hidden;


}


@keyframes waveRotate {


    from {

        transform: rotate(0deg);

    }


    to {

        transform: rotate(360deg);

    }

}



/* ===============================
   متن داخل باکس
================================ */


.box-content {


    position: relative;


    z-index: 5;


    padding: 45px 35px;


}



.box-content p {


    color: #2e231a;


    line-height: 2.2;


}



.invitation-title {


    font-size: 28px;


    font-weight: 500;


    margin-bottom: 35px;


}





.invitation-content p {


    margin-bottom: 30px;


}

.invitation-content {
    margin: 0px auto;
}





/* ===============================
   اسم‌ها
================================ */


.names {


    min-height: 220px;


}

.names-text {
    position: relative;
    z-index: 5;
    font-family: Arial, sans-serif;
    font-size: clamp(24px, 5vw, 42px);
    letter-spacing: 5px;
    color: #2e231a;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.timer-text {
    display: flex;
    gap: 15px;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    align-items: center;
    justify-content: center;

}

.timer-text-one {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #5A4638;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
}

.ti-te-one {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 18px;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(180, 140, 90, 0.25);

}
.time-text-1{
    font-size:20PX;
    letter-spacing: 4PX;
    position: relative;
    width:220px;
    height:220px;
    max-width: 80vw;
    max-height:80vw;
   margin: 5px auto 30px;
    background: rgba(255, 249, 240, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.15);
}
/* ===============================
   Reveal
================================ */


.reveal {


    opacity: 0;


    transform: translateY(25px);


    transition:

        opacity 1.5s ease,

        transform 1.5s ease;


}



.reveal.show {


    opacity: 1;


    transform: translateY(0);


}



.delay-1 {

    transition-delay: .9s;

}


.delay-2 {

    transition-delay: 1.5s;

}
.delay-5 {

    transition-delay: 1.5s;

}

.delay-3 {

    transition-delay:1.5s;

}


.delay-4 {

    transition-delay: 1.9s;

}

/* ===============================
   موبایل
================================ */


@media(max-width:600px) {


    .invitation {


        padding:

            110px 18px 80px;

    }



    .wave-box {


        width: 90%;


        min-height: 340px;


        margin: 35px auto;


    }



    .box-content {


        padding: 35px 25px;


    }



    .invitation-title {

        font-weight: bold;
        font-size: 25px;


    }



    .box-content p {


        font-size: 16px;


        line-height: 2.1;


    }



    .names {


        min-height: 190px;

    }



    .names-text {

        font-size: 23px;

        letter-spacing: 3px;


    }


}







/* موبایل خیلی کوچک */


@media(max-width:380px) {


    #touchMessage {

        font-size: 15px;

    }



    #goldenLight {


        top: calc(50% + 62px);

    }


}
.date-reveal{
    position: relative;
    overflow: hidden;
}


#scratch{
    position: absolute;
    inset: 0;

    width: 100%;
    height: 100%;

    z-index: 10;

    cursor: grab;
}


.hint {
    position: absolute;
    inset: 0;

    z-index: 11;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: none;

    color: rgba(90, 70, 55, 0.7);

    transition: opacity .5s ease;
}

.hint.hide {
    opacity: 0;
}

.hand {
    margin-top: 10px;

    font-size: 28px;

    animation:
        handMove 1.5s ease-in-out infinite;

    transition:
        left .35s ease,
        top .35s ease,
        transform .35s ease;
}
.hint.hand-guide {
    inset: auto;

    position: absolute;

    width: 70px;
    height: 70px;

    justify-content: center;

    transition:
        left .35s ease,
        top .35s ease,
        opacity .4s ease;
}

.hint.hand-guide span {
    display: none;
}

.hint.hand-guide .hand {
    margin: 0;
}

@keyframes handMove {

    0%,
    100% {
        transform: translateX(-8px);
        opacity: .55;
    }

    50% {
        transform: translateX(8px);
        opacity: 1;
    }
}
.timer-text
{
    opacity:0;
    transform:translateY(15px);
    transition:0.8s ease;
}


.date-reveal.show-content .timer-text,
.date-reveal.show-content .time-text-1{
    opacity:1;
    transform:translateY(0);
}
